*{
	margin: 0;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #49648b;
  color: black;
  text-align: center;
}
.bg-dark{
	background-color: #49648b !important;
}
